

.container {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  background:  #25245D;
  margin: 0 auto;

}

body {
  font-family: 'Lato', sans-serif;
  background-color: #25245D;
  background-image: url(https://i.imgur.com/9ZGSix7.jpg);
  background-size: cover auto;
}

.drop-down {
  display: flex;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14pt;
  align-items: center;
}

.liquor-wrapper {
  align-items: center;
}

select {
  background-color: #FEC260;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
}

option {
  background-color: #FFFFFF;
  margin: 0 auto;
}

option.hover {
    background-color: orange;
    transition: all 0.25s ease;
  }


.drink-result-wrapper {
  
}

h1 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: bold;
  font-size: 65pt;
  font-style: normal;
  color: #FEC260;
  text-align: center;
  margin: 20px 0 0 0;
}

h2 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: Black;
  font-size: 30pt;
  font-style: normal;
  color: #FEC260;
  text-align: center;
  margin-bottom: 15;
}

img {
  display: block;
  border-radius: 50%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.ingredients {
  display: inline;
  text-align: left;
  color: #FEC260;
}

.measurements {
  display: inline;
  text-align: left;
  color: #FEC260;
}

.instructions {
  display: block;
  text-align: center;
  color: #FEC260;
}


/* This is from Stack Overflow */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { }