.drop-button {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.drop-down {
  position: relative;
  display: inline-block;
}

.liquor {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: none;
  z-index: 1;
}


.liquor a:hover {background-color: #ddd;}

.drop-down:hover .liquor {display: block;}

.drop-down:hover .drop-button {background-color: #3e8e41;}